.ui-icons-input-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 1.7rem;
}

/* Claro and default */
.ui-icons-input-wrapper .form-item {
  margin-block: 0;
}

.ui-icons-input-wrapper .form-item__description {
  position: absolute;
  left: 0;
}

/* Keep the settings size close to textfield. */
.ui-icons-settings-wrapper {
  max-width: 39rem;
}

.ui-icons-preview-icon {
  display: flex;
  justify-content: center;
  height: 2.85rem;
  text-align: center;
}

.ui-icons-preview.form-item {
  display: flex;
  justify-content: center;
  width: 2.9rem;
  height: 2.9rem;
  margin-right: .5rem;
  border: 1px solid #d3d4d987;
  border-radius: 0.3rem;
  background-color: var(--color-gray-050);
}

.media-library-content .ui-icons-preview.form-item {
  margin-right: 0;
}

.ui-icons-preview-icon img,
.ui-icons-preview-icon svg,
.ui-icons-preview-icon > i,
.ui-icons-preview-icon > b,
.ui-icons-preview-icon > span {
  display: block;
  width: 2rem;
  max-height: 2.8rem;
  margin: auto;
}

/* Gin theme support */
body[class*="gin"] .ui-icons-preview-icon {
  height: 2.3rem;
}
body[class*="gin"] .ui-icons-preview-icon img,
body[class*="gin"] .ui-icons-preview-icon svg,
body[class*="gin"] .ui-icons-preview-icon > i,
body[class*="gin"] .ui-icons-preview-icon > b,
body[class*="gin"] .ui-icons-preview-icon > span {
  max-height: 2.2rem;
}

/* Autocomplete results */
.ui-icons-result {
  display: flex;
  align-items: center;
}

.ui-icons-result img.icon.icon-preview {
  height: 35px;
  padding-right: 15px;
}

.ui-icons-result .ui-icons-result-collection {
  margin-left: auto;
  color: #849fdc;
  font-size: .8rem;
}

@media (max-width: 650px) {
  .ui-icons-preview-icon img,
  .ui-icons-preview-icon svg,
  .ui-icons-preview-icon > i,
  .ui-icons-preview-icon > b,
  .ui-icons-preview-icon > span {
    width: 1.2rem;
  }
}
