<span{{ attributes.addClass("button") }}>
  {% if icon1 %}
  <span class="button__icon">{{ icon(icon1.iconset, icon1.icon, icon1.options) }}</span>
  {% endif %}
  <span class="button__label">{{ label }}</span>
  {% if icon2 %}
  <span class="button__icon">{{ icon(icon2.iconset, icon2.icon, icon2.options) }}</span>
  {% endif %}
</span>
